@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700,900&display=swap');


@media (min-width: 1600px) {
    .container{
        max-width: 970px;
    }
}

html {
    font-family: 'Lato', sans-serif;
}

$blackish:rgba(0, 0, 0, 0.68);
$blackisher:rgba(0, 0, 0, 0.84);
$blue:#4657F0;

#navbar {
    li a {
        font-weight:bolder;
        color: $blackish;
        font-size:18px;
    }

    #navbar-brand {
        .space {
            color: $blackish;
        }
        .out {
            color:#4657F0;
        }
    }
}

.register-button {
    font-weight:bold;
    color: white;
    background-color:$blue;
    padding:15px 30px;
    border-radius:0px;
    border:none;
}

#landing-section {
    h1 {
        color: $blackisher;
        margin-top:80px;
        font-weight:bolder;
        font-size:60px;
        letter-spacing: .03em;
        line-height:1.5em;
    }
    
    #img-1 {
        margin-top:50px;
        height:90vh;
        width:100%;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    
    #img-2 {
        margin-top:50px;
        height:90vh;
        width:100%;
        background-repeat: no-repeat;
        background-position:center;
    }
    
    #big-search-box {
        z-index:100;
        position:absolute;
        display:flex;
        align-items:center;
        margin-top:60px;
        margin-bottom:60px;

        input {
            width:650px;
            height:80px;
            display:inline-block;
            padding-left:20px;
        }

        button {
            height:60px;
            width:140px;
            display:inline-block;
            position:relative;
            right:150px;
        }
    }
    .arrow-buttons {
        display:flex;

        .arrow-button {
            display:flex;
            align-items:center;
            justify-content: center;
            font-weight:bold;
            color: white;
            background-color:$blue;
            height:70px;
            width:70px;
            border:none;
            margin-right:10px;
            cursor:pointer;
        }

        .arrow-button.disabled {
            cursor: default;
            background-color:#d5d5d5;
        }
    }

}

